.qmake.cache

.kateconfig
*.kate-swp
.kdev4
*.kdev4

*~

Makefile
Makefile.*
build/
debug/
release/

*.pro.user*
*.pro.shared*
*vcproj*
*vcxproj*
*qmake.?db
*.ncb
*.sln
*.suo
*.sdf

*.orig
*.rej
*.patch

qrc_*.cpp
pch.h.cpp
